@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;

            text-align: center;
        }

        .container {
            
            margin: 0 auto;
            padding: 20px;
            color:#fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #4CAF50;
        }

        p {
            color:#fff;
        }

        .cta-button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }

            .cta-button:hover {
                background-color: #45a049;
            }
    </style>
</head>

<div class="text-center">
    <div class="container">
        <h1 class="display-4">Welcome to Expense Tracker - Your Ultimate Expense Tracker Solution!</h1>
        <p>Are you tired of financial stress, struggling to keep track of your expenses, or wondering where your hard-earned money is disappearing to? Look no further! At Expense Tracker, we understand the importance of managing your finances effectively. We believe that financial freedom starts with understanding where your money goes.</p>
        <p><strong>Why Choose Expense Tracker?</strong></p>
        <ul>
            <li><strong>Effortless Expense Tracking:</strong> Say goodbye to the hassle of managing receipts and complicated spreadsheets. Our user-friendly expense tracker simplifies the process, allowing you to record your expenses effortlessly.</li>
            <li><strong>Real-time Insights:</strong> Knowledge is power, especially when it comes to your finances. With our powerful tracking tools, you gain instant insights into your spending habits. Visualize your expenditures, identify trends, and make informed decisions to achieve your financial goals.</li>
            <li><strong>Budgeting Made Simple:</strong> Creating and sticking to a budget has never been this easy. Our expense tracker helps you set realistic budgets and provides timely notifications to keep you on track.</li>
            <li><strong>Secure and Private:</strong> We prioritize your security and privacy. Your financial data is encrypted and stored securely, ensuring your information remains confidential.</li>
            <li><strong>Accessible Anytime, Anywhere:</strong> Our expense tracker is accessible across devices. Whether you're at home, in the office, or on the go, you can update your expenses and check your financial status anytime, anywhere.</li>
        </ul>
        <a class="cta-button" href="/">Get Started Now</a>
    </div>
</div>
